<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="AppCtrl">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Popover Service</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <button class="button button-block button-dark" ng-click="openPopover($event, 'dark')">
            Dark Button
        </button>
        <button class="button button-block button-assertive" ng-click="openPopover($event, 'assertive')">
            Assertive Button
        </button>
        <button class="button button-block button-calm" ng-click="openPopover($event, 'calm')">
            Calm Button
        </button>
    </ion-content>
    <script id="button-options.html" type="text/ng-template">
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">{{type}} options</h1>
            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-ionic"></i> Option One
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-help-buoy"></i> Option Two
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-hammer"></i> Option Three
                    </a>
                    <a href="#" class="item item-icon-left" ng-click="closePopover()">
                        <i class="icon ion-close"></i> Close
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>
</body>

</html>
