<div class="container">
    <h1 class="text-center">Search Giphy</h1>
    <div class="row">
        <input class="form-control" type="text" placeholder="Search something.. Like.. LOL or Space or Wow" #searchText (keyup.enter)="search(searchText.value)">
    </div>
    <br>
    <div class="wrapper">
        <app-gif-viewr [imgUrl]="gif.images.original.url" *ngFor="let gif of gifs"></app-gif-viewr>
    </div>
    <input type="button" value="Load More" class="btn btn-primary btn-block" *ngIf="!isLoading" (click)="getMore()">
</div>
