/* You can add global styles to this file, and also import other style files */

@import "https://bootswatch.com/cosmo/bootstrap.min.css";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.home .well{
	width:70%;
	margin-left: 15%;
}

img{
	width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box !important;
}

.wrapper {
  column-width: 18em;
  column-gap: 1em;
}

.item {
  display: inline-block;
  padding: .25rem;
  width: 100%;
}

.well {
  position: relative;
  display: block;
}
