<ion-header>
    <ion-navbar>
        <ion-title>
            Manage Users
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <ion-list>
            <ion-item>
                <ion-label fixed>Name</ion-label>
                <ion-input type="text" placeholder="Enter Name" #name></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Age</ion-label>
                <ion-input type="number" placeholder="Enter Age" #age></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button full color="primary" (click)="addUser(name, age)" [disabled]="!name.value || !age.value">Create User</button>
    </div>
    <div *ngIf="users.length > 0">
        <h3 style="text-align: center;" padding>Users</h3>
        <ion-card *ngFor="let user of users">
            <ion-card-content>
                <ion-label>Name : {{user.name}}</ion-label>
                <ion-label>Age : {{user.age}}</ion-label>
                <button ion-button color="danger" (click)="removeUser(user)">Delete User</button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
